
	body{width: 65%;
    margin: 10px;
    border:1px solid rgb(116, 9, 9);
    box-shadow: 0 2px 3px rgb(173, 224, 30);
    padding: 6px;
   text-align: left}
   
    .boxit{  width: 90%;
			margin: 10px;
			padding: 20px;
			border: 1px solid rgb(153, 100, 122);
			box-shadow: 0 2px 3px rgb(84, 31, 231);
			text-align: center
			}
  